header{
  background-color: #9400d3;
  color:white;
  height: 60px;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

header img{
  width:50px;
  height: 50px;
  border: 2.67px solid pink;
  border-radius: 26px; 
  margin-top:10px;
  box-shadow: 0 0 14px deeppink;
}

.header-links{
  display:flex;
  justify-content: space-between;
}

header a {
  margin-left: 50px;
  color:deeppink;
  font-weight: 600;
  font-size: 20px;;
}

.hero{
  background-color: darkviolet;
  display: flex;
  height: 400px;
  justify-content:space-around;
  align-items: center;
  padding-left: 100px; padding-right: 100px;
}

.hero .left{
  flex:1;
  display:flex;
  flex-direction:column;
  justify-content: center;
}

.hero h1{
  color:white;
  font-size: 80px;
  margin:0;
}

.hero .left div{
  display:flex;
  justify-content:space-between;
  align-items: center;
  margin-top: -30px;
}

.hero p{
  color:pink;
  font-size: 25px;
  padding-left: 20px;
}

.hero button{
  padding: 5px;
  padding-left:1em; padding-right: 1em; 
  border-radius: 5px;
  background-color: #ffc01f;
  color: white;
  border:none;
  font-weight: 600;
  font-size:18px;
  margin-right:80px;
  box-shadow: 1px 1px 8px white;
}

.hero .right{
  flex:1;
  display: flex;
  justify-content: center;
}

.hero .right img{
  transform: scaleX(-1);
  height:400px;
}

.projects-sec{
  text-align: center;
  height: 400px;
}

h2{
  color: deeppink;
  font-size: 50px;
  text-align: center;
  text-shadow: 1.5px 1px 4px darkviolet;
}

.preview {
  display: flex;
  justify-content:center;
  padding-left: 400px; padding-right:400px;
}

.preview div {
  flex:1;
  display:flex;
  flex-direction:column;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

.preview img{
  width: 200px;
  box-shadow: 4px 4px 8px darkmagenta;
}

.preview p{
  width:250px;
  color:deeppink;
}

.about-me-sec{
  background-color: #c0adc1;
  height:400px;
  padding-top:1px;
  padding-left:100px; padding-right:100px;
  color:#302b2b;
  font-size: 18px;
  text-align:center;
}

.about-me-sec p{
  padding-left: 200px; padding-right:200px;
  text-align:center;
  font-size: 21px;
}

.contact-sec{
  height:115px;
  padding: 50px;
}
.contact-sec .background{
  background-color: darkviolet;
  color: black;
  border-radius:5px;
  margin: auto;
  width: 75%;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.background div{
  text-align: start;
}

.background h3{
  margin-bottom:0px;
}

.background p{
  margin-top:0;

}
.background button{
  background-color: darkviolet;
  border: 2px solid black;
  border-radius: 5px;
  padding:0.5em;
  font-size: 16px;
}

footer{
  background-color: #5c0183 ;
  height:50px;
  text-align:center;
  color:black;
  font-weight:600;
  padding-top:2px;
} 