header{
  background-color: darkviolet;
  color:white;
  height: 50px;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

header h2{
  color: deeppink;
}

.header-links{
  display:flex;
  justify-content: space-between;
}

header a {
  margin-left: 50px;
  color:deeppink;
  font-weight: 600;
}

.hero{
  background-color: darkviolet;
  display: flex;
  height: 300px;
  align-items: center;
}

.hero .content{
  height: inherit;
  width:872.667px;
  padding-left:40px;
  flex:1;
  display:flex;
  flex-direction:column;
  justify-content: center;
}

.hero h1{
  color:white;
  font-size: 80px;
  margin:0;
}

.hero .content div{
  display:flex;
  justify-content:space-between;
  align-items: center;
  margin-top: -30px;
  padding-left: 20px;
}

.hero p{
  color:pink;
  font-size: 25px;

}

.hero button{
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: pink;
  color: deeppink;
  font-weight: 600;
  margin-right:160px;
}

.hero img{
  transform: scaleX(-1);
  flex:1;
  height:300px;
}

.projects-sec{
  text-align: center;
  height: 350px;
}

.projects-sec h2{
  color: deeppink;
  font-size: 50px;
}

.preview {
  display: flex;
  justify-content:center;
}

.preview > div {
  text-align: center;
  margin: 0 10px;
  flex:1;
  color:hotpink;
  font-weight: bold;
  font-size: 20px;
}

.preview img{
  background-color: deeppink;
  width: 200px;
  border: 3px solid darkorchid;
  border-radius:85px;
  padding:8px;
}

.about-me-sec{
  background-color: gainsboro;
  margin-top:60px;
  height:300px;
  Padding-top :40px; Padding-bottom :40px;
  padding-left:100px; padding-right:100px;
}

.about-me-sec p{
  color:deeppink;
  font-size: 20px;
  font-weight: semi-bold;
}